{% if this.getPagesCount() > 1 %}
    <section class="pager-container row">
        <section class="total columns large-2">Всего: {{ this.total }}</section>

        <ul class="pager columns large-8 no-bullet">
            <li class="prev">
                {% if this.hasPrevPage() %}
                    <a href="{{ this.getUrl(this.currentPage - 1) }}">&larr;</a>
                {% else %}
                    <span>&larr;</span>
                {% endif %}
            </li>

            {% if this.hasPrevPage() %}
                {% for page in this.iterPrevPage() %}
                    <li>
                        <a href="{{ this.getUrl(page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            <li>
                <span>{{ this.currentPage }}</span>
            </li>

            {% if this.hasNextPage() %}
                {% for page in this.iterNextPage() %}
                    <li>
                        <a href="{{ this.getUrl(page) }}">{{ page }}</a>
                    </li>
                {% endfor %}
            {% endif %}

            <li class="next">
                {% if this.hasNextPage %}
                    <a href="{{ this.getUrl(this.currentPage+1) }}">&rarr;</a>
                {% else %}
                    <span>&rarr;</span>
                {% endif %}
            </li>
        </ul>

        <section class="page-size columns large-2">
            {% include "core/pager/sizes.html" %}
        </section>
    </section>
{% endif %}