{% if errors and form.errors %}
    <ul class="form-errors">
        {% for name, errors in form.errors %}
            {% for i, error in errors %}
                <li>{{ form.getField(name).label ? form.getField(name).label : name }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% set renderFields = form.getRenderFields() %}
{% set renderFieldsets = renderFields|length == form.getFieldsInit()|length %}
{% if form.fieldsets and renderFieldsets %}
    {% for fieldset, fields in form.fieldsets %}
        {% if fields|length == 0 %}
            {% continue %}
        {% endif %}

        <fieldset>
            <legend>{{ fieldset }}</legend>
            {% for field in fields %}
                {% if field in renderFields %}
                    <div class="form-block">{{ form.getField(field)|raw }}</div>
                {% endif %}
            {% endfor %}
        </fieldset>
    {% endfor %}
{% else %}
    {% for field in form %}
        <div class="form-block">{{ field|raw }}</div>
    {% endfor %}
{% endif %}
