{% if form.errors %}
    <ul class="form-errors">
        {% for name, errors in form.errors %}
            {% for field_name, error in errors %}
                {{ form.getField(name).label ? form.getField(name).label : name }}:
                {% if error|is_array %}
                    {% for inline_name, inline_errors in error %}
                        <ul class="form-errors-inline">
                            <span class="inline-name">{{ inline_name }} {{ i+1 }}</span>
                            {% for inline_error in inline_errors %}
                                <li>{{ inline_error }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% else %}
                    <li>{{ error }}</li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if form.fieldsets %}
    {% for fieldset, fields in form.fieldsets %}
        <fieldset>
            <legend>{{ fieldset }}</legend>
            <ul class="form-ul">
                {{ form.render("core/form/ul-fields.html", fields)|raw }}
            </ul>
        </fieldset>
    {% endfor %}
{% else %}
    <ul class="form-ul">
        {% for field in form %}
            <li>{{ field|safe }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% include "core/form/table-inline.html" %}
{#{% include "core/form/ul_inline.html" %}#}
