{% if form.errors %}
    <ul class="no-bullet form-errors">
        {% for name, errors in form.errors %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if form.fieldsets %}
    {% for fieldset, fields in form.fieldsets %}
        <fieldset>
            <legend>{{ fieldset }}</legend>
            <ul class="form-ul">
                {{ form.render("core/form/ul-fields.html", fields)|raw }}
            </ul>
        </fieldset>
    {% endfor %}
{% else %}
    <ul class="form-ul">
        {% for field in form %}
            <li>{{ field|raw }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for name, instances in inlines %}
    <section class="inline-form">
        <h3 class="inline-title">{{ name }}</h3>
        {% for inline in instances %}
            <section id="{{ inline.id }}-container" class="inline-form-item">
                <table id="{{ inline.id }}" class="form-inline-table">
                    {% for field in inline %}
                    <tr>
                            <td {% if field.hidden %} class="hide"{% endif %}{% if field.delete %} class="actions" align="right"{% endif %}>
                                {{ field|raw }}
                            </td>
                    </tr>
                    {% endfor %}
                </table>
            </section>
            {% if loop.last %}
                <input type="button" class="button inline-add" value="Add" data-id="{{ inline.id }}-container" />
            {% endif %}
        {% endfor %}
    </section>
{% endfor %}
