{% if form.errors %}
    <ul class="no-bullet form-errors">
        {% for name, errors in form.errors %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if form.fieldsets %}
    {% for fieldset, fields in form.fieldsets %}
        <fieldset>
            <legend>{{ fieldset }}</legend>
            <ul class="form-ul">
                {{ form.render("core/form/ul-fields.html", fields)|raw }}
            </ul>
        </fieldset>
    {% endfor %}
{% else %}
    <ul class="form-ul">
        {% for field in form %}
            <li>{{ field|raw }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% for name, instances in inlines %}
    <hr/>
    <section class="inline-form">
        <h3 class="inline-title">{{ name }}</h3>
        {% for inline in instances %}
            <section id="{{ inline.id }}-container" class="inline-form-item form-inline-section">
                {% if inline.errors %}
                    <ul class="no-bullet form-errors">
                        {% for errors in inline.errors %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <table id="{{ inline.id }}" class="form-inline-table">
                    <tr>
                    {% for field in inline %}
                        {% if not field.hidden %}
                            <td>
                                {{ field|safe }}
                            </td>
                        {% endif %}
                    {% endfor %}
                    </tr>
                </table>
                {% for field in inline %}
                    {% if field.hidden %}
                        {{ field|safe }}
                    {% endif %}
                {% endfor %}
            </section>
            {% if loop.last %}
                <input type="button" class="button inline-add" value="Add" data-id="{{ inline.id }}-container" />
            {% endif %}
        {% endfor %}
    </section>
{% endfor %}
